* {
    /* box-sizing: border-box; */
    background-color: #fdf8f1;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    /* padding-right: 5px;
    padding-left: 5px; */
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding-top: 1%  ;
    padding-bottom: 1%;
    position: fixed;
    width: 100%;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    /* font-style: italic; */
    /* margin-top: 1%; */
    margin-left: 10%;
    font-size: 19px;
    width: 300px;
    align-items: center;
    color: #890a0a;
}

.landing-page .header-area ul {
    list-style: none;
    padding: 0;
    margin-right: 10%;
    width: 100%;
    text-align: right;
}

.landing-page .header-area ul li {
    display: inline-block;
    /* margin-left: 50px; */
    padding-left: 5%;
    /* color: #5d5d5d; */
    cursor: pointer;
    list-style: none;
    
}
.landing-page .header-area ul a{
    text-decoration: none;
    color: #5d5d5d;
}
.landing-page .header-area ul li a:hover {
    border: 5px;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    color: #FFF;
    background-color: #890a0a;
}

.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 12%;
    padding-left: 10%;
    padding-right: 5px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 6%;
    margin-right: 2%;
}
.landing-page .image-reg {
    width: 50%;
    float: left;
    margin-top: 6%;
    margin-left: 2%;
}
.landing-page .image-login {
    width: 5px;
    height: 5px;
    float: left;
    margin-top: 6%;
    margin-left: 2%;
}
.landing-page .image img {
    max-width: 80%;
}

.clearfix {
  clear: both;
}
.landing-page .container .banner img {
    margin-top: 1%;
    max-width: 100%;
    max-height: 10%;
    background-size: cover;
    /* min-height: calc(100vh - 69px); */
}
/* End Landing Page */

/*Registration Page*/
/* * {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.regcontainer {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    padding-right: 15%;
}
.chat-bar-collapsible {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    padding-right: 15%
    
}
#content {
    width: 350px;
    padding: 50px;
    box-shadow: 0 11px 17px 5px rgb(0 0 0 / 33%);
    border-radius: 50px;
}

#content > h1 {
    text-align: center;
}

.input-bar {
    width: 350px;
    height: 60px;
    border: 2px solid #000;
    /* border-radius: 25px; */
    margin: 30px 0;
    opacity: 0.5;
    transition: 200ms;
    font-weight: 600;
    position: relative;
}

.input-bar > label {
    position: absolute;
    font-size: 17px;
    text-transform: capitalize;
    top: 20px;
    left: 45px;
    transition: 200ms;
}

.input-bar > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    box-sizing: border-box;
    padding: 20px 45px 10px;
    font-size: 18px;
}

.input-bar > box-icon {
    position: absolute;
    width: 26px;
    top: 17px;
    left: 10px;
}

.focus {
    opacity: 1;
}

.focus > label {
    top: 2px;
    font-size: 12px;
}

#btn {
    width: 350px;
    border: none;
    padding: 15px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
}
.chat-bar-icons{
    background-color: #fdf8f1;
}

/* start page */
/* .chat-bar-collapsible button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #890a0a;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

/*-------------------------------footer---------------------------------------------------*/
:root {
    --background: #e9eef2;
    --color: #212325;
    --color-2: #444;
    --color-3: #666;
    --transition: all 0.25s ease 0s
}



@media screen and (max-width: 768px) {
    html {
        font-size:15px
    }
}

@media screen and (max-width: 465px) {
    html {
        font-size:14px
    }
}


#foo {
    /* max-width: 1110px; */
    margin:0 auto;
    margin-top: 15px;
    position: relative;
    padding: 2rem;
    /* background-color: #fffbf6; */
}

.copyright {
  padding: 2rem 0 0 0;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-3);
  text-align: center;
  border-top: 1px solid var(--color-3);
}

.footer-nav{
    padding: 1rem 0
}

.footer-nav .col {
  max-width: 300px;
}

p.site-decription {
  color: var(--color-3);
  font-size: 1rem;
  font-weight: 400;
}

.social-medias a {
  color: var(--color-2);
  width: 3rem;
  height: 3em;
  border: 2px solid var(--color-2);
  border-radius: 50%;
}

.social-medias svg {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start{
  align-items: flex-start;
}

.flex-jc-start{
  justify-content: flex-start;
}

.flex-around{
  justify-content: space-around;
}

.flex-column{
  flex-direction: column;
}

.flex-g-1{
  gap: 1rem;
}

.col{
  flex: 1;
}
.col-list ul{
    padding-left: 0px;
}
.col-list ul li{
  list-style: none;
}

.col-list ul li a{
  text-decoration: none;
  color: var(--color-3);
  transition: var(--transition)
}

.col-list ul li a:hover,
.col-list ul li a:focus{
  color: var(--color);
  text-decoration: underline
}


@media screen and (max-width: 1100px){
  .footer-nav{
    flex-direction: column
  }
} 